<header>
    <nav class="navbar">
        <a href="" class="logo"><img src="./assets/img/home/logo.png" alt=""></a>
        <ul class="navbar-menu flex">
            <li><a href="" title="Trang chủ">Trang chủ</a></li>
            <li><a href="http://localhost:8001/tin-tuc.html" title="tin tức">tin tức</a></li>
            <li><a href="" title="sự kiện">sự kiện</a></li>
            <li><a href="" title="fanpage">fanpage</a></li>
            <li><a href="" title="cộng đồng">cộng đồng</a></li>
            <li><a href="" title="hỗ trợ">hỗ trợ</a></li>
        </ul>
    </nav>
    <div class="box-right">
        <ul class="link">
            <li><a href="" title="" class="btn-napthe">nạp thẻ</a></li>
            <li><a href="" title="">group</a></li>
            <li><a href="" title="">CSKH</a></li>
        </ul>
    </div>
</header>