<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/landing.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
{% include "../share/header.html" %}
{% block content %}{% endblock %}
{% include "../share/footer.html" %}
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/jquery.parallaxify.js"></script>
<script>
    $(document).ready(function () {
        $('.trailer').on('click',function () {
           let link_trailer = $(this).data('link');
           $('.modal-trailer iframe').attr('src',link_trailer);
        });
        $('.modal-trailer .close,.modal').on('click',function () {
           let link_trailer = '';
            $('.modal-trailer iframe').attr('src',link_trailer);
        });

        $('.charcter').parallaxify({
            positionProperty: 'transform',
            responsive: true,
            motionType: 'natural',
            mouseMotionType: 'performance',
            motionAngleX: 60,
            motionAngleY: 60,
            alphaFilter: 0.5,
            adjustBasePosition: true,
            alphaPosition: 0.025
        });

        function timer() {
            var time_now=new Date();
            time_now = (Date.parse(time_now) / 1000);
            var endtime = new Date("30 September 2021 00:00:00");
            endtime = (Date.parse(endtime) / 1000);
            var time_left=endtime - time_now;
            var days = Math.floor(time_left / 86400);
            var hours = Math.floor((time_left - (days * 86400)) / 3600);
            var minutes = Math.floor((time_left - (days * 86400) - (hours * 3600 )) / 60);
            var seconds = Math.floor((time_left - (days * 86400) - (hours * 3600) - (minutes * 60)));

            if (hours < "10") { hours = "0" + hours; }
            if (minutes < "10") { minutes = "0" + minutes; }
            if (seconds < "10") { seconds = "0" + seconds; }
            if(time_left <= 0){
                days='00';hours='00';minutes='00';seconds='00';
            }
            $(".days .time").html(days);
            $(".hours .time").html(hours);
            $(".minutes .time").html(minutes);
            $(".seconds .time").html(seconds);
        }
        setInterval(function () {
            timer();
        },1000);
    });
</script>
</body>
</html>