<main class="pr">
    <div class="box-server">
        <div class="server-list">
            <div class="server">
                <h4>Mới ra mắt</h4>
                <ul class="server__list">
                    <li><span>s20</span><p>Tôn Ngộ Không</p></li>
                </ul>
            </div>
            <div class="server">
                <h4>HOT</h4>
                <ul class="server__list">
                    <li><span>s10</span><p>Tôn Ngộ Không</p></li>
                    <li><span>s11</span><p>Tôn Ngộ Không</p></li>
                </ul>
            </div>
            <div class="server">
                <h4>Danh sách</h4>
                <ul class="server__list">
                    <li><span>s1</span><p>Tôn Ngộ Không</p></li>
                    <li><span>s2</span><p>Tôn Ngộ Không</p></li>
                    <li><span>s3</span><p>Tôn Ngộ Không</p></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="box-btn flex">
        <div class="download">
            <a href="" title="Tải game" class="btn-download">Tải game</a>
            <marquee direction="left">
                Tải Game Hay Nhận Ngay Giftcode Xịn
            </marquee>
        </div>
        <a href="" title="Nạp thẻ" class="btn-napthe">Nạp thẻ</a>
        <a href="" title="Giftcode" class="btn-giftcode">Giftcode</a>
    </div>
    <div class="effect">
        <div class="text"></div>
    </div>
</main>