<main class="pr">
    <img src="./assets/landing/img/bg-landing1.png" alt="" class="bg-landing">
    <div class="main-inner">
        <div class="charcter">
            <img src="./assets/landing/img/tnk.png" alt="" data-parallaxify-range-x="160" data-parallaxify-range-y="80">
        </div>
        <div class="video-bg">
            <video autoplay muted loop>
                <source src="./assets/landing/img/TNK.mp4" type="video/mp4">
            </video>
        </div>
        <h1><a href="" class="logo"><img src="./assets/landing/img/logo.png" alt=""></a></h1>
        <div class="box-btn">
            <a href="javascript:;" title="" class="btn_register" data-toggle="modal" data-target="#modal-register">Đăng ký</a>
            <a href="" title="" class="btn_giftcode">Giftcode</a>
            <a href="" title="" class="btn_fanpage">Fanpage</a>
        </div>
        <button type="button" data-link="https://www.youtube.com/embed/TzKf6enyqSk?autoplay=1" class="trailer" data-toggle="modal" data-target="#modal-trailer">trailer</button>
        <div class="coutdown">
            <h4>Ra mắt</h4>
            <div class="flex">
                <div class="down days">
                    <span class="time"></span>
                    <span class="text">Ngày</span>
                </div>
                <div class="down hours">
                    <span class="time"></span>
                    <span class="text">Giờ</span>
                </div>
                <div class="space"></div>
                <div class="down minutes">
                    <span class="time"></span>
                    <span class="text">Phút</span>
                </div>
                <div class="space"></div>
                <div class="down seconds">
                    <span class="time"></span>
                    <span class="text">Giây</span>
                </div>
            </div>
        </div>
        <ul class="timeline flex">
            <li class="active">
                <div class="img img-sm"><img src="./assets/landing/img/gift.png" alt=""></div>
                <h5>Gói quà</h5>
                <span>Mốc thời gian</span>
            </li>
            <li>
                <div class="img img-sm"><img src="./assets/landing/img/gift.png" alt=""></div>
                <h5>Gói quà</h5>
                <span>Mốc thời gian</span>
            </li>
            <li>
                <div class="img img-sm"><img src="./assets/landing/img/gift.png" alt=""></div>
                <h5>Gói quà</h5>
                <span>Mốc thời gian</span>
            </li>
            <li>
                <div class="img img-lg"><img src="./assets/landing/img/gift1.png" alt=""></div>
                <h5>Quà toàn dân</h5>
            </li>
        </ul>
    </div>
    <div class="modal fade modal-trailer" id="modal-trailer">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <a href="javascript:;" class="close" data-dismiss="modal">close</a>
                <iframe src="" title="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="modal fade modal-register" id="modal-register">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <a href="javascript:;" class="close" data-dismiss="modal">close</a>
                <form action="">
                    <div class="form-group">
                        <input type="text" name="" placeholder="Tên đăng nhập">
                    </div>
                    <div class="form-group">
                        <input type="password" name="" placeholder="Mật khẩu">
                    </div>
                    <div class="form-group">
                        <input type="password" name="" placeholder="Nhập lại mật khẩu">
                    </div>
                    <div class="form-group">
                        <input type="email" name="" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <div class="code flex">
                            <input type="text" name="" placeholder="Mã bảo mật">
                            <div class="code__img"><img src="./assets/landing/img/code.png" alt=""></div>
                        </div>
                    </div>
                    <button type="submit" class="btn_submit">Đăng ký tài khoản</button>
                </form>
            </div>
        </div>
    </div>
</main>