<main class="pr">
    <div class="page-content pr">
        <div class="category flex-center pr">Tin tức</div>
        <ul class="news-list pr">
            <li>
                <a href="" title="">Mừng Tết Trung Thu</a>
                <time>16-09-2021</time>
            </li>
            <li>
                <a href="" title="">Mừng Thất Tịch 2021</a>
                <time>12-08-2021</time>
            </li>
            <li>
                <a href="" title="">Thần ma</a>
                <time>09-08-2021</time>
            </li>
            <li>
                <a href="" title="">Tuyệt Đỉnh Hùng Bang</a>
                <time>02-08-2021</time>
            </li>
            <li>
                <a href="" title="">Mùa Hè Sôi Động</a>
                <time>02-08-2021</time>
            </li>
            <li>
                <a href="" title="">Mừng Phiên Bản Trấn Tiên</a>
                <time>04-06-2021</time>
            </li>
            <li>
                <a href="" title="">Vui Tết Đoan Ngọ 2021</a>
                <time>09-06-2021</time>
            </li>
            <li>
                <a href="" title="">Bạn Hữu</a>
                <time> 07-06-2021</time>
            </li>
            <li>
                <a href="" title="">Phiên bản mới Thần Ma Trấn Tiên</a>
                <time>07-06-2021</time>
            </li>
            <li>
                <a href="" title="">Lật Thẻ May Mắn</a>
                <time> 11-05-2021</time>
            </li>
        </ul>
        <ul class="pagination pr">
            <li class="page-item"><a class="page-link" href="#"> < </a></li>
            <li class="page-item"><a class="page-link active" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#"> > </a></li>
        </ul>
    </div>
</main>
<footer>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</footer>