:root{
  --UTMGodWordR: UTMGodWordR,sans-serif;
  --UTMGodsWordBold: UTMGodsWordBold,sans-serif;
  --black-six: #000;
  --white-two: #fff;
}


body{
  background: #090909  url("#{$img-path}/home/bg-news.jpg") no-repeat 0 0/100%;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  color: #2b2828;
  line-height: 1.5;
  overflow-x: hidden;
  &::-webkit-scrollbar{width: 8px;}
  &::-webkit-scrollbar-track{background: #ccc;}
  &::-webkit-scrollbar-thumb{background: #888;}
}

@font-face {
  font-family: UTMGodsWordBold;
  src: url("#{$font-path}/UTMGodsWordBold.ttf");
}

@font-face {
  font-family: UTMGodWordR;
  src: url("#{$font-path}/UTMGodWordR.ttf");
}

body.home{
  height: 100vh;
  background:#000 url("#{$img-path}/home/bg-home1.jpg") no-repeat 50% 0/cover;
}
body.modal-open {
  overflow: inherit;
  padding-right: 0 !important;
}
a:hover{text-decoration: none;}
a{transition: .25s;}
img{max-width: 100%;}
%hover{-webkit-filter: saturate(2.0); filter: saturate(2.0);}
//header
header{
  .logo{
    display: block; width: vw(361px);
    position: absolute; top: vw(21px); left: vw(24px);
    animation: pulse 1.5s infinite linear;
    &:hover{@extend %hover;}
  }
}
.navbar{padding: 0; height: vw(75px); justify-content: center;}
.navbar-menu{
  li{margin: 0 vw(21px); display: flex; align-items: center;}
  a{
    display: block; font: vw(20px) var(--UTMGodWordR);
    line-height: vw(75px); color: #fff;
    text-transform: uppercase;
    letter-spacing: -0.5px;
  }
  a:hover,.active{color: #fefe23;}
}
.box-right{
  width: vw(215px); height: vw(306px);
  padding: vw(52px) vw(18px) 0 vw(45px);
  background: url("#{$img-path}/home/bg-right.png") no-repeat 0 0/contain;
  position: fixed; right: vw(-18px); top: 50%; transform: translateY(-50%); z-index: 90;
  li{padding: vw(10px) 0;}
  a{
    display: block;
    text-shadow: 0px 3px 10.5px var(--black-six), 0px 2px 0 var(--white-two);
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font: vw(26px) var(--UTMGodWordR);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .btn-napthe{
    text-shadow: 0px 2px 2.5px #000;
    font: vw(26px) var(--UTMGodsWordBold);
    color: #ffc21f;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial;
  }
}
//main
.box-server{
  width: vw(323px); height: vw(496px);
  padding: vw(100px) vw(10px) vw(14px);
  background: url("#{$img-path}/home/bg-s.png") no-repeat 0 0/contain;
  position: fixed; bottom: vw(23px); left: vw(23px);
  h4{
    margin-bottom: vw(10px);
    font: vw(18px) var(--UTMGodsWordBold);
    color: #af5f5f;
  }
  .server-list{
    height: 100%;
    overflow: auto;
    &::-webkit-scrollbar{width: 3px;}
    &::-webkit-scrollbar-thumb{background: #380202;}
    &::-webkit-scrollbar-track{background: #460303;}
  }
  .server{
    ul{
      margin-bottom: vw(10px);
      li{
        display: flex;
        margin-bottom: vw(10px);
        width: vw(297px);
        height: vw(45px);
        background: url("#{$img-path}/home/bg-server.png") no-repeat 0 0/contain;
      }
      span{width: vw(52px); color: #ffca29; font: vw(30px) var(--UTMGodWordR); white-space: nowrap; text-align: center; line-height: vw(34px);}
      p{width: vw(243px); padding: 0 vw(18px); color: #fff; font: vw(18px) var(--UTMGodWordR); line-height: vw(45px);}
    }
  }
}
.box-btn{
  width: 100%;
  justify-content: center;
  position: absolute; top: vw(660px); z-index: 2;
  a{display: block; margin: 0 vw(16px); text-indent: -9999em;}
  a:hover{@extend %hover;}
  .btn-napthe{
    width: vw(325px); height: vw(158px);
    background: url("#{$img-path}/home/btn-napthe.png") no-repeat 0 0/contain;
  }
  .btn-giftcode{
    width: vw(215px); height: vw(89px);
    margin-top: vw(62px);
    background: url("#{$img-path}/home/btn-giftcode.jpg") no-repeat 0 0/contain;
  }
  .download{
    width: vw(257px); height: vw(120px);
    margin: vw(60px) vw(-20px) 0 0;
  }
  .btn-download{
    width: vw(215px); height: vw(89px);
    margin: 0 auto vw(7px);
    background: url("#{$img-path}/home/btn-download.png") no-repeat 0 0/contain;
    animation: bounce 2s infinite linear;
  }
}
.effect{
  width: vw(747px); height: vw(323px);
  position: absolute; top: vw(330px); left: vw(560px);
  -webkit-mask-image: url("#{$img-path}/home/text.png");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  .text{
    width: 100%; height: 100%;
    position: absolute; top: 0; left: 0; right: 0;
    margin: 0 auto;
    background: url("#{$img-path}/home/light.png") top left no-repeat;
    background-size: auto 100%;
    -webkit-background-clip: content;
    -webkit-text-fill-color: transparent;
    animation: animatedlighttext 2s linear infinite;
    z-index: 2;
  }
}

.page-content{
  width: vw(1200px);
  margin: vw(400px) auto 0;
  background: rgba(#574637,1);
  padding: 0 vw(78px) vw(30px);
  &::before,&::after{
    content: "";
    width: vw(1280px);
    position: absolute;
  }
  &::before{
    height: vw(618px);
    background: url("#{$img-path}/home/bg-top-content.png") no-repeat 0 0/contain;
    position: absolute; top: vw(-50px); left: vw(-41px);
  }
  &:after{
    height: vw(72px);
    background: url("#{$img-path}/home/bg-bottom-content.png") no-repeat 0 0/contain;
    position: absolute; bottom: vw(-15px); left: vw(-40px);
  }
  .category{
    margin-bottom: vw(25px);
    height: vw(92px);
    color: #4f2a0f;
    font: vw(30px) var(--UTMGodWordR);
    text-transform: uppercase;
    &::after,&::before{
      content: "";
      width: vw(149px); height: vw(27px);
      display: block; margin: vw(3px) vw(20px) 0;
      background: url("#{$img-path}/home/line.png") no-repeat 0 0/contain;
    }
    &::before{transform: rotateY(180deg);}
  }
  .title,time{display: block; text-align: center;}
  .title{
    margin-bottom: vw(14px);
    font: vw(36px) var(--UTMGodWordR);
    color: #ffea97;
    text-transform: capitalize;
  }
  time{margin-bottom: vw(26px); color: #ac8b64; font: vw(24px) var(--UTMGodWordR);}
  article{
    font: 14px Arial, sans-serif;
    color: #f9e1d1;
    line-height: 1.71;
  }
  .news-list,.news-ralate{
    font: vw(24px) var(--UTMGodWordR); z-index: 2;
    li{padding: vw(17px) 0; display: flex; align-items: center;}
    li a{width: 75%; color: #ffea97; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
    li a:hover{ color: #ac8b64;}
    time{margin: 0 0 0 auto; color: #ac8b64;}
  }
  .news-ralate{
    margin-top: vw(80px);
    ul >*+*{background: url("#{$img-path}/home/line1.png") no-repeat top center/contain;}
  }
  .news-list{
    li{padding: vw(10px) 0 vw(25px); background: url("#{$img-path}/home/line1.png") no-repeat bottom center/contain;}
  }

}

.pagination{
  display: flex;
  justify-content: center;
  margin: 30px 0;
  z-index: 2;
  li{margin: 0 4px;}
  .page-link{
    width: 58px; height: 58px;
    display: flex; align-items: center; justify-content: center;
    background: url("#{$img-path}/home/dot.png") no-repeat 0 0/contain;
    color: #423320;
    font: 700 16px Arial;
    border: none;
  }
  .active{background: url("#{$img-path}/home/dot-active.png") no-repeat 0 0/contain; color: #c18220;}
}
marquee{color: #fff; text-transform: uppercase; font: vw(20px) var(--UTMGodWordR);}

footer{
  max-width: vw(989px);
  margin: 0 auto;
  padding: vw(75px) 0 vw(95px);
  font: 14px Arial, sans-serif;
  color: #725c48;
  text-align: center;
  line-height: 1.71;
}

@media (max-width: 1024px) {
  .navbar{height: 100px;}
  .navbar-menu{
    a{font-size: 16px;}
  }
  header{
    .logo{
      width: 260px;
      top: 100px;
      left: 41px;
    }
  }
  .box-btn{
    margin-top: vwt(900px);
    a{margin: 0 vwt(16px);}
    .btn-napthe{
      width: vwt(261px); height: vwt(127px);
    }
    .btn-giftcode{
      width: vwt(215px); height: vwt(89px);
    }
    .download{
      width: vwt(257px); height: vwt(120px);
      margin: vwt(60px) vwt(-20px) 0 0;
    }
    .btn-download{
      width: vwt(215px); height: vwt(89px);
      margin: 0 auto vwt(7px);
    }
  }
  .box-server{
    width: vwt(323px); height: vwt(496px);
    padding: vwt(100px) vwt(10px) vwt(14px);
    bottom: 5px; left: 5px;
    h4{
      margin-bottom: vwt(10px);
      font: vwt(18px) var(--UTMGodsWordBold);
    }
    .server{
      ul{
        margin-bottom: vwt(10px);
        li{
          margin-bottom: vwt(10px);
          width: vwt(297px);
          height: vwt(45px);
        }
        span{width: vwt(52px); font: vwt(30px) var(--UTMGodWordR); line-height: vwt(34px);}
        p{width: vwt(243px); padding: 0 vwt(18px); font: vwt(18px) var(--UTMGodWordR); line-height: vwt(45px);}
      }
    }
  }
  .box-right{
    width: vwt(215px); height: vwt(306px);
    padding: vwt(52px) vwt(18px) 0 vwt(45px);
   right: vwt(-18px);
    li{padding: vwt(10px) 0;}
    a{font: vwt(26px) var(--UTMGodWordR);}
    .btn-napthe{font: vwt(26px) var(--UTMGodsWordBold);}
  }
  .page-content{
    width: vw1(1200px);
    margin: vw1(400px) auto 0;
    padding: 0 vw1(78px) vw1(30px);
    &::before,&::after{
      width: vw1(1280px);
    }
    &::before{
      height: vw1(618px);
     top: vw1(-50px); left: vw1(-41px);
    }
    &:after{
      height: vw1(72px);
     bottom: vw1(-15px); left: vw1(-38px);
    }
    .category{
      margin-bottom: vw1(25px);
      height: vw1(92px);
      font: vw1(30px) var(--UTMGodWordR);
      &::after,&::before{
        width: vw1(149px); height: vw1(27px);
        margin: vw1(3px) vw1(20px) 0;
      }
    }
    .title{margin-bottom: vw1(14px); font: vw1(36px) var(--UTMGodWordR);}
    time{margin-bottom: vw1(26px); font: vw1(24px) var(--UTMGodWordR);}
    .news-ralate{
      margin-top: vw1(80px);
      font: vw1(24px) var(--UTMGodWordR);
      li{padding: vw1(18px) 0;}
    }
  }
  .category{
    .navbar{height: 50px;}
    header .logo{top: 50px;}
  }
  .news-list{
    a{font-size: 14px;}
  }
  .pagination{
    .page-link{width: 40px; height: 40px;}
  }
}
@media (max-width: 480px) {
  body{
    background: #090909 url("#{$img-path}/home/bg-news.jpg") no-repeat 50% 0/150%;
  }
  header{
    .logo{width: 120px; top: 70px; left: 10px;}
  }
  .navbar{height: 50px;}
  .navbar-menu{
    a{font-size: 11px;}
  }
  .box-btn{
    margin-top: vwt(1200px);
  }
  .box-server{
    h4{
      margin-bottom: vwt(10px);
      font: vwt(22px) var(--UTMGodsWordBold);
    }
    .server{
      ul{
        span{font: vwt(35px) var(--UTMGodWordR); line-height: vwt(30px);}
        p{font: vwt(26px) var(--UTMGodWordR); white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
      }
    }
  }

  .page-content{
    .category{font: vwm(26px) var(--UTMGodWordR);}
    .title{font: vwm(36px) var(--UTMGodWordR);}
    time{margin-bottom: vwm(26px); font: vwm(24px) var(--UTMGodWordR);}
    .news-ralate{
      font: vwm(24px) var(--UTMGodWordR);
      li{padding: vwm(18px) 0;}
    }
  }
  .category{
    .navbar{height: 30px;}
  }

  footer{max-width: 90%;}
}


//animated
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn{
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@keyframes flash {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(2.1);
    filter: saturate(2.1);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
@-webkit-keyframes flash {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(2.1);
    filter: saturate(2.1);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
.flash{
  animation-name: flash;
  -webkit-animation-name: flash;
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes animatedlighttext {
  from {
    background-position: 100% 0;
  }

  to {
    background-position: 0 0;
  }
}

@-webkit-keyframes animatedlighttext {
  from {
    background-position: 100% 0;
  }

  to {
    background-position: 0 0;
  }
}


//uikt
.pr{position: relative;}
button{
  border: none;
  cursor: pointer;
  &:focus{outline: none;}
}