:root{
  --UTMGodWordR: UTMGodWordR,sans-serif;
  --UTMGuanine: UTMGuanine, sans-serif;
  --UTMGodsWordBold: UTMGodsWordBold, sans-serif;
  --black-six: #000;
}
body{
  background: #000;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  color: #2b2828;
  line-height: 1.5;
  overflow-x: hidden;
  &::-webkit-scrollbar{width: 8px;}
  &::-webkit-scrollbar-track{background: #ccc;}
  &::-webkit-scrollbar-thumb{background: #888;}
}

@font-face {
  font-family: UTMGodWordR;
  src: url("#{$font-path}/UTMGodWordR.ttf");
}

@font-face {
  font-family: UTMGodsWordBold;
  src: url("#{$font-path}/UTMGodsWordBold.ttf");
}

@font-face {
  font-family: UTMGuanine;
  src: url("#{$font-path}/UTMGuanine.ttf");
}

body.modal-open {
  overflow: inherit;
  padding-right: 0 !important;
}
a:hover{text-decoration: none;}
a{transition: .25s;}
img{max-width: 100%;}
%hover{-webkit-filter: saturate(2.0); filter: saturate(2.0);}
//landing
.main-inner{
  width: 100%; height: 100%;  position: absolute; top: 0; left: 0; overflow: hidden;
  h1{display: inline-block; margin: vw(20px) 0 0 vw(20px);}
}
.bg-landing{object-fit: cover; width: 100%; height: 100vh;}
.charcter{
  width: vw(1626px);
  position: absolute; right: vw(-585px); top: vw(-240px);
}
.video-bg{
  width: 100%; height: 100%;
  position: absolute; top: 0; left: 0; z-index: -1;
  video{width: 100%; height: 100%; object-fit: cover;}
}
.logo{width: vw(311px); display: block;}
.box-btn{
  width: vw(256px);
  margin-left: vw(44px);
  display: flex;
  flex-direction: column; align-items: center;
  a{display: block; text-indent: -9999em;}
  a:hover{@extend %hover;}
  .btn_register{width: vw(256px); height: vw(186px); margin: vw(-6px) 0 vw(-5px) 0; background: url("#{$img-path}/landing/btn-dk.png") no-repeat 0 0/contain;}
  .btn_giftcode{width: vw(158px); height: vw(143px); margin-bottom: vw(15px); background: url("#{$img-path}/landing/btn-giftcode.png") no-repeat 0 0/contain;}
  .btn_fanpage{width: vw(158px); height: vw(83px); background: url("#{$img-path}/landing/btn-fanpage.png") no-repeat 0 0/contain;}
}
.trailer{
  width: vw(271px); height: vw(249px);
  background: url("#{$img-path}/landing/play.png") no-repeat 0 0/contain;
  font-size: 0;
  position: absolute; top: vw(248px); left: 0; right: 0; margin: 0 auto;
  animation: pulse 1s infinite linear;
}
.coutdown{
  width: vw(530px); margin: 0 auto 0; padding-left: vw(15px);
  position: absolute; top: vw(630px); left: 50%; transform: translateX(-50%);
  h4{
    width: vw(212px); height: vw(42px);
    margin: 0 auto vw(-10px);
    font-size: 0;
    background: url("#{$img-path}/landing/text.png") no-repeat 0 0/contain;
  }
  .flex{align-items: center; flex-wrap: nowrap;}
  .down{}
  .time{
    display: block;
    font: vw(58px) var(--UTMGuanine);
    color: #e59411;
    text-shadow: 0 0 3.7px var(--black-six), 0px 4px 0 rgba(255, 255, 255, 0.18);
    background-image: linear-gradient(to top, #f2c564, #fefec0);
    -webkit-background-clip: text;
   /* -webkit-text-fill-color: transparent;*/
  }
  .days{margin-right: vw(50px);}
  .space{
    width: vw(21px); height: vw(44px);
    margin: 0 vw(15px);
    background: url("#{$img-path}/landing/space.png") no-repeat 0 0/contain;
  }
  .text{
    display: block;
    margin: vw(0px) 0 0 vw(7px);
    color: #f4ce72;
    font: vw(19px) var(--UTMGodsWordBold);
    text-transform: uppercase;
    text-shadow: 1px 0 0 #4d3838, -1px 0 0 #4d3838, 0 1px 0 #4d3838, 0 -1px 0 #4d3838, 1px 1px #4d3838, -1px -1px 0 #4d3838, 1px -1px 0 #4d3838, -1px 1px 0 #4d3838;
  }
}
.timeline{
  width: vw(1020px); margin: 0 auto 0; justify-content: space-between;
  position: absolute; top: vw(800px);  left: 50%; transform: translateX(-50%);
  &::after{
    content: "";
    width: vw(871px); height: vw(20px);
    background: url("#{$img-path}/landing/line.png") no-repeat 0 0/contain;
    position: absolute;
    top: vw(23px); left: 50%; transform: translateX(-50%);
  }
  .active .img{-webkit-filter: saturate(2.0); filter: saturate(2.0);}
  .img-sm{width: vw(79px); margin: 0 auto;}
  .img-lg{width: vw(140px); margin: 0 auto;}
  li{text-align: center; position: relative; z-index: 2;}
  li:last-child{
    margin-top: vw(-45px);
    h5{font-size: vw(25px);}
  }
  h5,span{text-transform: uppercase;}
  h5{
    margin-bottom: 2px;
    font: vw(22px) var(--UTMGodWordR);
    color: #ffdb38;
    text-shadow: 1px 0 0 #791313, -1px 0 0 #791313, 0 1px 0 #791313, 0 -1px 0 #791313, 1px 1px #791313, -1px -1px 0 #791313, 1px -1px 0 #791313, -1px 1px 0 #791313;
  }
  span{
    display: block;
    font: vw(18px) var(--UTMGodWordR);
    color: #fff;
    text-shadow: 1px 0 0 #791313, -1px 0 0 #791313, 0 1px 0 #791313, 0 -1px 0 #791313, 1px 1px #791313, -1px -1px 0 #791313, 1px -1px 0 #791313, -1px 1px 0 #791313;
  }
}
.modal{
  .modal-content{border: none;}
  .close{
    width: 64px; height: 64px;
    background: url("#{$img-path}/landing/close.jpg") no-repeat 0 0/contain;
    position: absolute; top: 0; right: -64px;
    font-size: 0; opacity: .9;
    &:hover{opacity: 1;}
  }
}
.modal-trailer{
  .modal-dialog{max-width: 860px;}
  .modal-content{width: 100%; height: 480px; border: none; box-shadow: none;}
  iframe{width: 100%; height: 100%; background: #000;}
}
.modal-register{
  .modal-dialog{max-width: 593px;}
  .modal-content{width: 100%; height: 593px; padding: 140px 102px 124px; background: url("#{$img-path}/landing/bg-popup.png") no-repeat 0 0/contain;}
  .close{top: 53px; right: -11px;}
  .form-group{margin-bottom: 10px;}
  input{
    width: 100%; height: 40px;
    padding: 0 12px;
    background: #3b3023;
    border-radius: 4px;
    border: 1px solid #947958;
    color: #fff;
    font: 14px Arial, sans-serif;
    &:focus{outline: none;}
    &::placeholder{color: #fff;}
  }
  .code{
    flex-wrap: nowrap;
    align-items: center;
    &__img{margin-left: 15px;}
  }
  .btn_submit{
    width: 228px; height: 58px;
    display: block; margin: 25px auto 0;
    background: url("#{$img-path}/landing/btn-register.png") no-repeat 0 0/contain;
    font-size: 0; transition: .2s;
    &:hover{@extend %hover;}
  }
}
.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover{opacity: 1;}


//animated
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn{
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.14, 1.14, 1.14);
    transform: scale3d(1.14, 1.14, 1.14);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}




//uikt
.pr{position: relative;}
button{
  border: none;
  cursor: pointer;
  &:focus{outline: none;}
}



@media (max-width: 1600px){

}
